# Auto detect text files and perform LF normalization
* text=auto
Physics/朗道理论物理教程(卷05)-统计物理学I(第5版)-[俄]朗道＆栗弗席兹-束仁贵＆束莼(译).pdf filter=lfs diff=lfs merge=lfs -text
Physics/朗道理论物理教程(卷02)-场论(第8版)-[俄]朗道＆栗弗席兹-鲁欣＆任朗(译).pdf filter=lfs diff=lfs merge=lfs -text
Physics/现代晶体学2[[:space:]]晶体的结构-中国科学技术大学出版社.pdf filter=lfs diff=lfs merge=lfs -text
Math/工程数学线性代数第六版.pdf filter=lfs diff=lfs merge=lfs -text
Math/离散数学及其应用(原书第6版).Kenneth.H.Rosen.pdf filter=lfs diff=lfs merge=lfs -text
Physics/《粒子物理导论》-格里菲斯.pdf filter=lfs diff=lfs merge=lfs -text
Inner[[:space:]]alchemy/西游真诠.100回.清陈士斌诠解.翠筠山房藏版.清康熙年间刊本.pdf filter=lfs diff=lfs merge=lfs -text
Math/代数(中文版)-[美]迈克尔-阿廷-机械工业出版社.pdf filter=lfs diff=lfs merge=lfs -text
